    <div class="sidenav d-flex flex-wrap" id="sidenav">
        <a class="homelink" href="/">Home</a>
        <a class="aboutlink" href="/about">About</a>
        <a class="worklink" href="/work">Work</a>
        <a class="contactlink" href="/contact">Contact</a>
      </div>
    </div>