{{> nav}}
<div class="row">
    <div class="col-sm-3 col-lg-2">
    </div>
    <div class="col-sm-9 col-lg-10">
        <div class="jumbotron" id="contactpage">
            <div class="container">
            <h1 class="title">Contact Me</h1>
            <hr class="my-4 contacthr">
            <ul>
            <li><a href="mailto: neil.creveling@gmail.com">neil.creveling@gmail.com</a></li>
                <br>
                <li><a href="tel:1-585-478-8852">(585)-478-8852</a></li>
                <br>
                <li><a href="https://github.com/neilcreveling">GitHub</a></li>
                <br>
                <li><a href="https://www.linkedin.com/in/neil-creveling-9007a7131/">LinkedIn</a></li>
                <br>
                <li><a href="CrevelingResume_03_2021.pdf">Resume</a></li>
            </ul>
            </div>
            </div>
        </div>
    </div>
</div>