    {{> nav}}
    <div class="row">
    <div class="col-sm-3 col-lg-2">
    </div>
    <div class="col-sm-9 col-lg-10">
    <div class="jumbotron" id="homepage">
        <div class="container">
            <img class="float-right portrait" src="images/neil_1.jpg" alt="Neil Creveling Portrait" height=auto>
            <h1 class="title">Hi, I'm Neil.</h1>
            <hr class="my-4 mainhr">
            <h2 class="display-4 flex-wrap">I'm a full stack developer from Brooklyn, NY.</h2>
            <hr class="my-4 mainhr">
            <h2 class="display-5 flex-wrap">Learn more about me and what I do.</h2>
            <br>
            <br>
            <br>
        </div>
    </div>