{{> nav}}
    <div class="jumbotron" id="workpage">
        <div class="container">
            <h1 class="title">Work</h1>
            <hr class="my-4 workhr">
            <figure>
                <a href="https://guarded-atoll-77888.herokuapp.com/login"><img class="image-large" src="images/yup_page.png" alt="Yup Schlepp Login Page" width=90% height=auto></a>
                <div class="row">
                    <figcaption class="col-lg-8 col-sm-6" id="imgtitle">Yup Schlepp</figcaption>
                    <figcaption><a class="col-lg-2 col-sm-3" id="imgcap" href="https://guarded-atoll-77888.herokuapp.com/login">Link</a></figcaption>
                    <figcaption><a class="col-lg-2 col-sm-3" id="imgcap" href="https://github.com/neilcreveling/yup-schlepp">GitHub</a></figcaption>
                </div>
            </figure>
            <figure>
                <a href="https://neilcreveling.github.io/Weather-Dashboard/"><img class="image-regular" src="images/weather_result.png" alt="Weather Dashboard" width=90% height=auto></a>
                <div class="row">
                    <figcaption class="col-lg-8 col-sm-6" id="imgtitle">Weather Dashboard</figcaption>
                    <figcaption><a class="col-lg-2 col-sm-3" id="imgcap" href="https://neilcreveling.github.io/Weather-Dashboard/">Link</a></figcaption>
                    <figcaption><a class="col-lg-2 col-sm-3" id="imgcap" href="https://github.com/neilcreveling/Weather-Dashboard">GitHub</a></figcaption>
                </div>
            </figure>
            <figure>
                <a href="https://neilcreveling.github.io/Random-Password-Generator/"><img class="image-large" src="images/Generator-result.png" alt="Random Password Generator" width=90% height=auto></a>
                <div class="row">
                    <figcaption class="col-lg-8 col-sm-6" id="imgtitle">Random Password Generator</figcaption>
                    <figcaption><a class="col-lg-2 col-sm-3" id="imgcap" href="https://neilcreveling.github.io/Random-Password-Generator/">Link</a></figcaption>
                    <figcaption><a class="col-lg-2 col-sm-3" id="imgcap" href="https://github.com/neilcreveling/Random-Password-Generator">GitHub</a></figcaption>
                </div>
            </figure>
        </div>
    </div>